
@import '~compass-mixins/lib/compass/css3';

$cor-fonte:#495057;
$form-control: ".form-control-modified";

@mixin tamanho {
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}
#{$form-control} {
    display: block;
    @include tamanho;
    @include opacity(0.8);
    color: $cor-fonte;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* border-radius: .25rem; */
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

%teste1{
  color:red;
}

%teste2{
  background-color:#f4f;
}
@mixin teste {
  color:#4957;
}
@mixin teste2 {
  color:#fefe;
}

@mixin teste2 {
  background-color:#f4f;
}

.menu{
  @include teste;
  @extend %teste1, %teste2;
}
