<div class="row">
    <form [formGroup]="userForm">
        <div class="row">
            <div class="col-md-3">
                <input type="text" formControlName="name" class="form-control-modified" placeholder="Nome">
            </div>
            <div class="col-md-3">
                <input type="text" formControlName="fullName" class="form-control-modified" placeholder="Sobrenome">
            </div>
            <div class="col-md-3">
                <input type="text" formControlName="participacao" class="form-control-modified" placeholder="Participação">
            </div>
            <div class="col-md-3">
                <button class="btn btn-default" (click)="postUser()">ENVIAR</button>
            </div>
        </div>
    </form>
</div>